# Ignore build artifacts from both subprojects
/Taak/dist-newstyle/
/Taak/dist/
/Taak/.stack-work/

/Taak-Augustus/dist-newstyle/
/Taak-Augustus/dist/
/Taak-Augustus/.stack-work/

# Common Haskell build artifacts
*.hi
*.o
*.prof
*.aux
*.hp
*.eventlog
*.dump-hi
*.dump-asm
*.dyn_hi
*.dyn_o
